<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412214950215-h098dqvu835l1809sdjkun35otvo9npk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412214950215-h098dqvu835l1809sdjkun35otvo9npk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412214950215-lvul9med7e96r8gs9b0p1ns22kh2epo5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpjFbbzp02ust_JMBDy-45T9jczDLbsDk</string>
	<key>GCM_SENDER_ID</key>
	<string>412214950215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.marketplace</string>
	<key>PROJECT_ID</key>
	<string>refurbished-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>refurbished-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412214950215:ios:c78fa34547bcebe342f462</string>
</dict>
</plist>